<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insumos</title> <!-- El título de la página -->

    <!-- Se incluye el archivo de estilos CSS -->
    <link rel="stylesheet" href="/css/updated_styles.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.2/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.2/dist/sweetalert2.min.js"></script>
</head>
<body>
<header>

    <!--Logo y navegacio de las tablas-->
    <div class="logo-placeholder" onclick="window.location.href='/'">
        <img src="/css/Logo_cleanperfect.png" alt="Logo" style="width: 170px; height: 50px;">
    </div>
    <a href="/productos/insumos" class="tablas-button">Insumos</a>
    <a href="/maquinaria/stock" class="tablas-button">Maquinaria</a>
    <a href="/ropa/stock" class="tablas-button">Ropa</a>
    <a href="/empresa/clientes" class="tablas-button">Clientes</a>
</header>
<main>

    <!--Buscador de insumos-->
    <div class="search-container">
        <h3 class="title">Insumos</h3>
        <div class="search-box">
            <input type="text" id="searchCategoria" class="search-input" placeholder="Buscar insumos">
            <button onclick="buscarPorCriterios()" id="searchButton" class="search-button">
                <img src="/css/buscar.png" alt="Buscar">
            </button>
            <button onclick="limpiarBusqueda()" id="clearButton" class="clear-button">
                <img src="/css/cerrar.png" alt="Limpiar">
            </button>
        </div>
    </div>

    <!--Tabla de insumos-->
    <table class="company-table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Tamaño</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody id="insumos-tbody">
        <!-- Aquí se mostrarán los insumos -->
        </tbody>
    </table>

    <!-- Editor para los insumos -->
    <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="close-button" onclick="document.getElementById('editModal').style.display='none'">&times;</span>
            <h2>Editar Producto</h2>
            <form id="editForm">
                <input type="hidden" id="edit-id">
                <label for="edit-codigoBarra">Código de Barras:</label>
                <input type="text" id="edit-codigoBarra">
                <label for="edit-costoDeCompra">Costo de Compra:</label>
                <input type="number" id="edit-costoDeCompra">
                <label for="edit-cantidad">Cantidad:</label>
                <input type="number" id="edit-cantidad">
                <!-- Campos ocultos para tipo, categoría y formato -->
                <input type="hidden" id="edit-tipo">
                <input type="hidden" id="edit-categoria">
                <input type="hidden" id="edit-formato">
                <button type="button" onclick="actualizarProducto()">Guardar</button>
                <button onclick="cerrarModalEdicion()">Cancelar</button>
            </form>
        </div>
    </div>
</main>

<!-- Se incluye el archivo de scripts JS -->
<script src="/js/insumos.js"></script>
</body>
</html>
